:root {
  @import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");
  --ff-Inter: "Inter", sans-serif;
  --ff-Lexend-Deca: "Lexend Deca", sans-serif;
  --clr-primary-500: hsl(277, 64%, 61%);
  --clr-primary-800: #1b1937;
  --clr-primary-900: #0A0C1C;
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-200: hsla(0, 0%, 100%, 0.75);
  --clr-neutral-300: hsla(0, 0%, 100%, 0.6);
  --fz-400: 0.75rem;
  --fz-500: 0.9375rem;
  --fz-700: 1.5rem;
  --fz-800: 1.75rem;
  --fw-400: 400;
  --fw-700: 700;
}
@media (min-width: 48em) {
  :root {
    --fz-800: 2.25rem;
  }
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
img,
picture {
  max-width: 100%;
  display: block;
}

.title {
  color: var(--clr-neutral-100);
}
.title span {
  color: var(--clr-primary-500);
}

.description {
  color: var(--clr-neutral-200);
}

.stat {
  color: var(--clr-neutral-100);
  font-family: var(--ff-Inter);
}
.stat span {
  font-family: var(--ff-Lexend-Deca);
  color: var(--clr-neutral-200);
  text-transform: uppercase;
  font-size: var(--fz-400);
  letter-spacing: 1px;
}
.stat h2 {
  font-size: var(--fz-700);
  font-weight: var(--fw-700);
  text-transform: uppercase;
}

body {
  background: var(--clr-primary-900);
}

.container {
  min-height: 100vh;
  display: grid;
  grid-auto-flow: row;
  place-items: center;
  padding: 5.5rem 1rem;
}
.container__card {
  max-width: 20.4375rem;
  background: var(--clr-primary-800);
  border-radius: 0.5rem;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  justify-content: space-between;
  gap: 2.5rem;
  text-align: center;
}
.container .text {
  font-family: var(--ff-Inter);
  display: grid;
  order: 2;
  padding: 0 1.96875rem 1.96875rem;
  gap: 2.5rem;
}
.container .title {
  font-size: var(--fz-800);
  line-height: 1.1428;
  margin-bottom: 1rem;
}
.container .description {
  font-weight: 100;
  line-height: 1.5625rem;
}
.container .image {
  order: 1;
  background: var(--clr-primary-500);
  margin-left: auto;
}
.container .image img {
  width: 33.75rem;
  mix-blend-mode: multiply;
}
.container .stats {
  display: grid;
  grid-gap: 1.5rem;
}
.container .attribution {
  margin-top: auto;
}
@media (min-width: 62.5rem) {
  .container .container__card {
    max-width: 69.375rem;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: column;
  }
  .container .text {
    order: 1;
    text-align: left;
    padding: 4.4375rem 5.9375rem 3.6875rem 4.46875rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .container .title {
    line-height: 1.222em;
  }
  .container .description {
    line-height: 1.667em;
  }
  .container .image {
    order: 2;
  }
  .container .stats {
    display: flex;
    gap: 3rem;
  }
}

/*# sourceMappingURL=styles.css.map */
