@use './abstracts/root';
@use './base/reset';

img,
picture {
    max-width: 100%;
    display: block;
}

// Styles - Start
.title {
    color: var(--clr-neutral-100);

    span {
        color: var(--clr-primary-500);
    }
}

.description {
    color: var(--clr-neutral-200);
}

.stat {
    color: var(--clr-neutral-100);
    font-family: var(--ff-Inter);

    span {
        font-family: var(--ff-Lexend-Deca);
        color: var(--clr-neutral-200);
        text-transform: uppercase;
        font-size: var(--fz-400);
        letter-spacing: 1px;
    }

    h2 {
        font-size: var(--fz-700);
        font-weight: var(--fw-700);
        text-transform: uppercase;
    }
}
// Styles - End


body {
    background: var(--clr-primary-900);
}

.container {

    min-height: 100vh;
    display: grid;
    grid-auto-flow: row;
    place-items: center;
    padding: 5.5rem 1rem;

    &__card {
        max-width: 20.4375rem;
        background: var(--clr-primary-800);
        border-radius: .5rem;
        overflow: hidden;

        
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
        justify-content: space-between;
        gap: 2.5rem;

        text-align: center;
    }


    .text {
        font-family: var(--ff-Inter);
        display: grid;
        order: 2;
        padding: 0 1.96875rem 1.96875rem;
        gap: 2.5rem;
    }

    .title {
        font-size: var(--fz-800);
        line-height: 1.1428;
        margin-bottom: 1rem;
    }

    .description {
        font-weight: 100;
        line-height: 1.5625rem;
    }

    .image {
        order: 1;
        background: var(--clr-primary-500);
        margin-left: auto;
        img {
            width: 33.75rem;
            mix-blend-mode: multiply;
        }
    }

    .stats {
        display: grid;
        grid-gap: 1.5rem;

        
    }

    .attribution {
        margin-top: auto;
    }
    

    @media (min-width: 62.5rem) {

        .container__card {
            max-width: 69.375rem;
            grid-template-columns: 1fr 1fr;
            grid-auto-flow: column;

        }

        .text {
            order: 1;
            text-align: left;
            padding: 4.4375rem 5.9375rem 3.6875rem 4.46875rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .title {
            line-height: 1.222em;
        }

        .description {
            line-height: 1.667em;
        }

        .image {
            order: 2;
        }

        .stats {
            display: flex;
            gap: 3rem;
        }
    }
}

// Text Section - End