@use './abstracts/root';
@use './base/reset';

img,
picture {
    max-width: 100%;
    display: block;
}

// Styles - Start
.title {
    color: var(--clr-neutral-100);

    span {
        color: var(--clr-primary-500);
    }
}

.description {
    color: var(--clr-neutral-200);
}

.stat {
    color: var(--clr-neutral-100);
    font-family: var(--ff-Inter);

    span {
        font-family: var(--ff-Lexend-Deca);
        color: var(--clr-neutral-200);
        text-transform: uppercase;
        font-size: var(--fz-400);
    }

    h2 {
        font-size: var(--fz-700);
        font-weight: var(--fw-700);
    }
}
// Styles - End


body {
    background: var(--clr-primary-900);

}

.container {
    min-height: 100vh;
    display: grid;
    grid-auto-flow: row;
    justify-content: center;
    align-items: center;

    &__card {
        margin: 5rem 1.5rem;
        background: var(--clr-primary-800);
        border-radius: .5rem;
        overflow: hidden;
        text-align: center;
        display: grid;
        grid-auto-flow: row;
        max-width: 25rem;
    }

    @media (min-width: 50rem) {
        &__card {
            max-width: 69.375rem;
            grid-auto-flow: column;
            grid-template-columns: 50% 1fr;
        }
    }
}


.image {
    background-color: var(--clr-primary-500);

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        mix-blend-mode: multiply;
        opacity: 0.7;
    }
}

// Text Section - Start
.text {
    display: grid;
    padding: 2.5rem 2rem 2.25rem;
}

.heading {
    letter-spacing: .03125rem;
}

.title {
    font-family: var(--ff-Inter);
    font-size: var(--fz-800);
    line-height: 1.1428em;
    margin-bottom: 1rem;
}

.description {
    font-family: var(--ff-Inter);
    font-size: var(--fz-500);
    font-weight: var(--fw-400);
    line-height: 1.667rem;

}

.stats {
    display: grid;
    grid-auto-flow: row;
    align-self: flex-end;
    gap: 1.5rem;
}

@media (min-width: 50rem) {

    .image {
        order: 2;
    }

    .text {
        text-align: left;
        padding: 4.5rem 4.5rem 3.75rem;
    }

    .stats {
        gap: 1.25rem;
        grid-auto-flow: column;
    }
}

// Text Section - End